<a href="https://colab.research.google.com/github/Abdulhaseef1330/DATASCIENCE-ASSIGNMENT/blob/main/Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!..

## 1. Write a Python program to count the number of even and odd numbers from a series of numbers.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
even = []
odd = []
for n in numbers:
    if n%2 == 0:
        even.append(n)
    else:
        odd.append(n)

print("Number of even numbers : ",len(even))
print("Number of odd numbers : ",len(odd))

Number of even numbers :  4
Number of odd numbers :  5

## 2. Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence.

In [ ]:
for x in range(100,401,2):
  if x%2==0:
    print(x ,end=',')

100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,202,204,206,208,210,212,214,216,218,220,222,224,226,228,230,232,234,236,238,240,242,244,246,248,250,252,254,256,258,260,262,264,266,268,270,272,274,276,278,280,282,284,286,288,290,292,294,296,298,300,302,304,306,308,310,312,314,316,318,320,322,324,326,328,330,332,334,336,338,340,342,344,346,348,350,352,354,356,358,360,362,364,366,368,370,372,374,376,378,380,382,384,386,388,390,392,394,396,398,400,

##3. Write a Python program to calculate a dog's age in dog's years. Go to the editor

Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.

In [ ]:
dog_age = int(input("Input a dog's age in human years: "))
if dog_age<=2:
   human_age = dog_age*10.5
else:
   human_age = ((dog_age - 2) * 4) + 21
print("The dog's age in dog's years is:" , human_age)

Input a dog's age in human years: 20
The dog's age in dog's years is: 93

## 4. Write a Python function to find the Max of three numbers.

In [ ]:
def max_of_three(a,b,c):
    if a > b and a > c:
        return a
    elif b > c:
        return b
    else:
        return c
print("The Three numbers are: (3, 6, -5)")
print(max_of_three(3,6,-5))

The Three numbers are: (3, 6, -5)
6

## 5. Write a Python function that takes a number as a parameter and check the number is prime or not.

In [ ]:
def check_prime(number):
    for i in range(2,number//2+1):
        if number%i==0:
            return False
    return True
print("The number is: 9")
print(check_prime(9))

The number is: 9
False

##6. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters. Go to the editor

In [ ]:
s=('Inceptz is One of The BeSt Places TO LEarn DataSciEnce')
u = 0
l = 0
for i in s:
  if i. isupper():
    u=u+1
  elif i. islower():
    l=l+1
print('original string:Inceptz is One of The BeSt Places TO LEarn DataSciEnce')
print('No of upper case character : {}'. format (u))
print('No of lower case character : {}'. format (l))

original string:Inceptz is One of The BeSt Places TO LEarn DataSciEnce
No of upper case character : 13
No of lower case character : 32

##7. Write a Python program to reverse a string.

In [ ]:
def reverse_string(str):
  str1= ""
  for i in str:
    str1 = i + str1
  return str1
str ="1234abcd"
print("The original string is :", str )
print("The reverse_string is :", reverse_string(str))

The original string is : 1234abcd
The reverse_string is : dcba4321

##8. Write a Python program to find the greatest common divisor (gcd) of two integers.

In [ ]:
def two_numbers(number1,number2):
    gcd = 0
    for i in range(1,max(number1,number2)+1):
        if number1%i==0 and number2%i==0:
            gcd = i
    return gcd
print("The two numbers are: (12, 14)")
print(f"The GCD of the numbers are {two_numbers(12,14)}")

The two numbers are: (12, 14)
The GCD of the numbers are 2